@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #274160, #7794B4);
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 7px 15px rgba(169, 181, 197, 0.699);
    margin: auto;
    padding: 10px;
    width: 600px;
}

.perfil{
    display: flex;
    justify-content: center;
}

img {
    border-radius: 50%;
}

.titu{
    text-align: center;
}

h1 {
    color: #2e5381;
    text-shadow: 1px 1px 2px rgba(33, 59, 90, 0.712);
}

p {
    text-align: justify;
    font-size: 1.1em;
}